
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
:root{
    --color-dark: #3b4149;
    --color-search: #febd69;
    --color-less-dark: #4c525a;
    --color-light: #fff;
    --color-brown: #bf4800
}
body{
    background-color: #ededed;
}

a {
    text-decoration: none;
    display: inline-block;
}
p{
    margin-bottom: 0;
}
.form-control:focus {
    box-shadow: none;
    border-color: inherit;
}
/* ---------------------------------------------------------- Nav barr ------------------------------------------------------------ */
.header-upper{
    background-color: var(--color-dark);
}

.header-upper .input-group-text{
    background-color: var(--color-search);
}

.header-bottom{
    background-color: var(--color-less-dark);
}

.header-bottom .dropdown button{
    color: white;
    font-size: 14px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    border-right: 2px solid #aaa3a3;
    border-radius: 0;
}
.header-bottom .dropdown button:focus{
    box-shadow: none;
    background-color: transparent;
    border-right: 2px solid #aaa3a3;
}
.header-bottom .dropdown button::after{
    margin-left: 25px;
}
.user-dropdown button:focus{
    border: none;
}
.user-dropdown button::after{
    position: absolute;
    color: #fff;
    bottom: 0;
    right: -8px;
    font-size: 20px;
}
.header-bottom .dropdown-menu{
    background-color: var(--color-less-dark);
    width: 100%;
    transform: translate3d(0px, 36px, 0px) !important;
}
.header-bottom .dropdown-item{
    color: var(--color-light);
    padding: 7px 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--color-dark);
}
.header-bottom .dropdown-item:hover{
    background-color: transparent;
    color: var(--color-search);
}
.header-bottom .menu-links a{
    font-size: 13px;
}
.toggle-menu-btn{
    display: none;
}
.admin-dropdown-menu{
    left: -28px !important;
}

/* ----------- media ------------*/

@media (max-width: 576px) {
    .header-upper .row  .upper-elmnts:nth-child(2) {
      order: 3;
      margin-top: 10px;
    }
  
    .header-upper .row .upper-elmnts:nth-child(3) {
      order: 2;
    }
    .header-upper-links{
        gap: 0px !important;
        justify-content: space-between !important;
    }
    .header-bottom{
        max-width: 250px;
        height: calc(100vh - 105px);
        position: absolute;
        left: -250px;
        transition: 0.5s;
        z-index: 9;
    }
    .show-menu{
        left: 0;
        transition: 0.5s;
    }
    .menu-bottom{
        flex-direction: column;
        align-items:start !important;
        width: 100%;
        gap: 0 !important;
    }
    .menu-bottom .dropdown button{
        border: none;
    }
    .menu-bottom a{
        display: block;
        border-bottom: 1px solid var(--color-dark);
        width: 100%;
    }
    .menu-bottom .dropdown-menu{
        position: static !important;
        transform: translate3d(0,0,0) !important;
        border: none;
    }
    .menu-bottom .menu-links div{
        flex-direction: column;
        align-items:start !important;
    }
    .menu-bottom .menu-links{
        width: 100%;
    }
    .toggle-menu-btn{
        display: block;
        cursor: pointer;
    }
  }

/* ------------------------------------------------------------------- FOOTER ---------------------------------------------------------------- */


/* ------------------------------------------ */
.dashboard-info{
    justify-content: center;
    gap: 100px;
}
.dashboard-info div{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(--color-dark);
}

.update-product .col-4 img{
    width: 250px;
}